.container-fluid {
  .main-content {
    margin-left: 250px;
    .top-nav-admin {
      .navbar-toggler {
        color: white;
      }
      .top-collapse {
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: white;
            }
          }
        }
      }
    }
  }
}