
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Roboto","Lobster", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$orange : rgba(255, 129, 21, 0.87);
$blue1: #0056cc;