
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.menu-fixed {
  position: fixed;
  top: 50%;
}
.container {
  max-width: 1200px;
}
.img-carousel {
  width: 1200px;
  height: 400px
}
.footer {
  margin-bottom: 30px;
}
.padding-around {
  padding: 40px;
}
@media only screen and (max-width: 420px) {
  .padding-around {
    padding: 20px;
  }
  .footer .container .row .col-sm img {
    width: 100%;
    margin: 10px 0px;
  }
}
.py-4 {
  margin-top: 0px !important;
  padding-top: 0px !important;
}