// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=vietnamese');
// Variables
@import "variables";
@import "side_menu_admin";
@import "scrollbar";
@import "top_nav_admin";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

#paralax_duan {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 700px;
  box-shadow: 2px 2px 2px 2px purple;
  h1 {
    font-size: 250%
  }

  p {
    font-size: 140%;
    line-height: 150%;
    color: #333;
  }

  .slide {
    position: relative;
    padding: 30vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
  }

  img {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 10px;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  }

  img:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
  }

  .slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  }

  .title {
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    background: rgba(240, 230, 220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  }

  .slide:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
  }

  .slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
  }

  .slide, .slide:before {
    background: 50% 50% / cover;
  }

  .header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
  }

  #title {
    background-image: url("/upload/images/background_blue_taisao.jpg");
    z-index: 2;
  }

  #title h1 {
    transform: translateZ(.25px) scale(.75);
    transform-origin: 50% 100%;

  }

  #slide1:before {
    background-image: url("/upload/images/taisao_1.jpg");
    transform: translateZ(-1px) scale(2);
  }

  #slide2 {
    background-image: url("/upload/images/taisao_2.png");
    z-index: 2;
  }

  #slide3:before {
    background-image: url("/upload/images/image2.jpg");
    transform: translateZ(-1px) scale(2);
  }

  #slide4 {
    background-image: url("/upload/images/taisao_4.jpg");
    transform: translateZ(-1px) scale(2) translateY(30vh);
  }
}

.container_admin {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.breadcrumb {
  border-radius: 0;
  border-top: 5px solid $blue1 !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0px 7px 6px 2px rgba(0, 0, 0, 0.13);
  padding-top: 0px;
  padding-bottom: 0px;
  .container {
    .navbar-brand {
      padding-top: 0px;
      padding-bottom: 0px;
      .slogan {
        transition: color 0.2s;
      }
      .logo-full-size {
        width: 200px;
        height: 80px;
        -webkit-transition: all ease-in-out 0.5s;
        -moz-transition: all ease-in-out 0.5s;
        -o-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.3s;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          margin-right: 10px;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          position: relative;
          a {
            color: $blue1;
            font-size: medium;
            font-weight: normal;
            box-shadow: 0px 0px 0px 0px white;
            text-transform: capitalize;
            font-family: "Century";
          }
          &:hover {
            background: #1879ff;
            transform: translate(-5px, -3px);
            & > a {
              color: white;
              font-weight: normal;
              font-family: inherit, 'sans-serif';
              box-shadow: 4px 7px 0px 0px #000075;
            }
            & .dropdown-menu {
              display: block;
            }
          }
          .dropdown-menu {
            box-shadow:  0px 8px 16px 0px rgba(0, 0, 0, 0.53);
            border-radius: 0px !important;
            background: #fbfbfb;
            padding: 0;
            border: 0px;
            .dropdown-item {
              text-transform: capitalize;
              font-family: Roboto;
              font-size: medium;
              font-weight: 400;
              border: 0;
              color: $blue1;
              padding: 20px auto;
              &:hover {
                background-color: #1879ff;
                color: white;
              }
            }
          }

        }
      }
    }
  }
}

.navbar-top {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: $blue1;
  .container {
    .navbar-collapse {
      .navbar-nav {
        .nav-link {
          color: #ffed45;
          font-weight: bolder;
          font-family: inherit, 'sans-serif';
        }
      }
      .nav-link {
        color: #ffed45;
        font-weight: bolder;
        font-family: inherit, 'sans-serif';
      }
    }
  }
}

.shink_navbar {
  padding-top: 0px !important;
  padding-bottom: 0px;
  background-color: #007bff;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  &:hover {
    background-color: #4fb2ff;
  }
  .container {
    .navbar-brand {
      .logo-full-size {
        width: 150px;
        height: 50px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
    .slogan-title {
      color: white;
      &:hover {
        color: white !important;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          border: none;
          .nav-link {
            color: white;
            font-size: medium;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.menu-fixed {
  position: fixed;
  top: 50%;
}

.container {
  max-width: 1200px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.img-carousel {
  width: 1200px;
  height: 400px
}

.icon-small {
  width: 20px;
  height: 20px;
}

.footer {
  margin-bottom: 30px;
}

// Dung de giu khong gian xung quanh mot phan tu

// Cac class dung chung , cho cac chuc nang khac nhau
.padding-around {
  padding: 40px;
}
.padding-around-20 {
  padding: 20px;
}
.padding-leftright-10 {
  padding-left: 10px;
  padding-right: 10px;
}

// Cho phep image wide het co
.image-full-width {
  width: 100%;
}
.image-full-height {
  height: 100% !important;
}
.devider-line {
  width: 100%;
  height: 5px;
  background: #5bbaff;
  margin-top: 20px;
  margin-bottom: 20px;

}

.btn {
  border-radius: 0px !important;
}

// dung cho loading animation
.wrapper-for-loading {
  width: 100%;
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// danh cho animation

.border-top {
  border-top: 18px solid !important;
}

.border-top-blue-m {
  border-top: 5px solid $blue1 !important;
}
.border-left-blue-m {
  border-left: 5px solid $blue1 !important;
}
.border-top-orange-m{
  border-top: 5px solid orange !important;
}
.border-top-blue {
  border-top: 18px solid $blue1 !important;
}
.border-left-blue {
  border-left: 18px solid $blue1 !important;
}
.border-right-blue {
  border-right: 18px solid $blue1 !important;
}
.border-top-orange {
  border-top: 18px solid #ff6d0d !important;
}

.border-top-purple {
  border-top: 18px solid #882d88 !important;
}

.border-bottom-purple {
  border-bottom: 18px solid #882d88 !important;
}

.border-orange-thin {
  border: 2px solid #ff6d0d !important;
}

.border-blue-thin {
  border: 2px solid $blue1 !important;
}

.border-bottom-bluethin {
  border-bottom: 5px solid $blue1 !important;
}
.border-top-purple-thin {
  border-top: 5px solid darkviolet !important;
}
.border-left-purple-thin {
  border-left: 5px solid darkviolet !important;
}
.border-bottom-purple-thin {
  border-bottom: 5px solid darkviolet !important;
}
.border-around-blue {
  border: 1px dashed $blue1;
}

.background-blue {
  background-color: #4fb2ff !important;
}

.background-darkblue {
  background-color: #1d4463;
}

.background-orange {
  background-color: orange;
}

.background-purple {
  background-color: plum !important;
}

.background-white {
  background-color: white;
}
.out-line-blue {
  outline: 0px solid $blue1;
  outline-offset: -5px;
  transition: all ease-in-out 0.2s;
  &:hover {
    outline: 3px solid dodgerblue;
    outline-offset: 3px;
  }
}
.quote-pagrap {
  position: relative;
  z-index: 1;
  &::before {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    z-index: -1;
    content: "\"";
    top: -95px;
    left: -20px;
    font-size: 200px;
    color: rgba(172, 172, 172, 0.45);
    transform: skewX(10deg);
  }
  &::after {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    z-index: -1;
    content: "\"";
    bottom: -180px;
    right: -10px;
    font-size: 200px;
    transform: skewX(-20deg);
    color: rgba(172, 172, 172, 0.45);
  }
}
.out-line-white-big {
  outline: 0px solid #32b9ff;
  outline-offset: -5px;
  transition: all ease-in-out 0.2s;
  &:hover {
    outline: 10px solid white;
    outline-offset: 10px;
  }
}
.background-aninate-blue-purple {
  background: linear-gradient(90deg, #255bcf, #46f493, #ff8e2c, #a520f4, #03a9f4 ) ;
  -webkit-animation: animate 8s linear infinite;
  -o-animation: animate 8s linear infinite;
  animation: animate 8s linear infinite;
  background-size: 400%;
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    content: '';
    z-index: -1;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(90deg, #03a9f4, #f441a5,#ffeb3b, #f441a5, #03a9f4 );
    border-radius: 30px;
    background-size: 400%;
    opacity: 0.5;
    transition: filter 0.2s ease-in-out;
    filter: blur(20px);
  }
  &:hover::before {
    opacity: 1;
    filter: blur(30px);
    animation: aninate 8s linear infinite;
  }
}

.background-aninate-lime-purple {
  background: linear-gradient(90deg, #35cfb2, #f4de35, #ff7f58, #f43ae9, #03a9f4 ) ;
  -webkit-animation: animate 8s linear infinite;
  -o-animation: animate 8s linear infinite;
  animation: animate 8s linear infinite;
  background-size: 400%;
}
.background-aninate-orange-violet {
  background: linear-gradient(90deg, #03a9f4, #f441a5,#ffeb3b, #f441a5, #03a9f4 ) ;
  -webkit-animation: animate 8s linear infinite;
  -o-animation: animate 8s linear infinite;
  animation: animate 8s linear infinite;
  background-size: 400%;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.background-gradient-orange-violet {
  background: linear-gradient(to bottom right, #ffa066a6 34%, #ff33999e 100%) !important;
}

.background-gradient-cyan-plum {
  background: linear-gradient(to bottom right, #5ce2ff 34%, #c6a1ff 100%) !important;
}

.background-tranparent {
  background-color: rgba(41, 33, 33, 0.26) !important;
}
.background-tranparent-100 {
  background-color: transparent !important;
}
.background-litle-tranparent {
  background-color: rgba(41, 33, 33, 0.49) !important;
}
.background-litle-white {
  background-color: rgba(218, 219, 220, 0.25) !important;
}
.font-lobster {
  font-family: Lobster;
}

.font-roboto {
  font-family: Roboto;
}

.font-roboto-light {
  font-family: Roboto;
  font-weight: 300;
}
.white-text {
  color: #ffffff !important;
}
.blue-text {
  color: $blue1;
}
.purple-text {
  color: #ba16fa !important;
}
.orange-text {
  color: $orange;
}

.yellow-text {
  color: #ffe229 !important;
}

.text-50 {
  font-size: 50px;
}

.text-20 {
  font-size: 20px;
}
.text-15 {
  font-size: 15px !important;
}
.card-no-border {
  border: 0px;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

.no-padding-left-right {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-padding-top {
  padding-top: 0px !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.no-margin-top {
  margin-top: 0px !important;
}

.form-control {
  border-radius: 0px !important;
  border-bottom: 5px solid #e1e1e1;
}

.box-shadown-darkblue {
   &:hover {
     transform: translate(0px, -3px);
     box-shadow: 3px 6px 0px 1px #0056cc;
   }
   transition: all 100ms;
 }

.box-shadown-superdarkblue {
  &:hover {
    transform: translate(0px, -3px);
    box-shadow: 3px 6px 0px 1px #000075;
  }
  transition: all 100ms;
}
.box-shadown-light-dark {
  &:hover {
    transform: translate(0px, -3px);
    box-shadow: 3px 6px 15px 1px rgba(28, 28, 28, 0.63);
  }
  transition: all 100ms;
}
.box-shadown-purple-thin {
  box-shadow: 0px 2px 0px blueviolet;
}

.box-shadow-orange {
  &:hover {
    transform: translate(0px, -3px);
    box-shadow: 3px 6px 0px 1px #ff6d0d !important;
  }
  transition: all 100ms;
}

.text-shadown-purple {
  text-shadow: 2px 3px 1px blueviolet;
}

.text-shadown-blue {
  text-shadow: 2px 3px 1px #0056cc;
}

.text-shadown-lightblue {
  text-shadow: 2px 3px 1px #4fb2ff;
}

.text-shadown-orange {
  text-shadow: 2px 3px 1px #ff6d0d;
}

.text-shadown-orange-thin {
  text-shadow: 1px 1px 0px #ef7d0a;
}

.text-shadown-black {
  text-shadow: 1px 1px 0px #000000;
}

.no-border-radius {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.haft-left {
  display: inline;
  float: left;
  width: 50%;
}

.haft-right {
  display: inline;
  float: right;
  width: 50%;
}
.animate-bottom-nocontent {
  text-decoration: none !important;
  position: relative;
  transition: color ease-out 0.2s;

  &::before {
    position: absolute;
    bottom: -2px;
    content: "";
    left: -15px;
    display: block;
  }
  &::after {
    position: absolute;
    bottom: -2px;
    content: '';
    left: 1px;
    display: block;
    width: 0;
    height: 2px;
    background: #bc70fa;
    transition: width ease-in-out .3s;
  }
  &:hover::after {
    width: 100%;
  }
  &:hover {
    color: #bc70fa;
  }
}
.animate-bottom {
    text-decoration: none !important;
    position: relative;
    transition: color ease-out 0.2s;

  &::before {
      position: absolute;
      bottom: -2px;
      content: "♠";
      left: -15px;
      display: block;
      color: inherit;
  }
  &::after {
      position: absolute;
      bottom: -2px;
      content: '';
      left: 1px;
      display: block;
      width: 0;
      height: 2px;
      background: #bc70fa;
      transition: width ease-in-out .3s;
  }
  &:hover::after {
      width: 100%;
  }
  &:hover {
      color: #bc70fa;
  }
}

.scale-onetwo {
  &:hover {
    -webkit-transform: scale(1.05) !important;
    -moz-transform: scale(1.05) !important;
    -ms-transform: scale(1.05) !important;
    -o-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
    z-index: 3;
  }
  -webkit-transition:transform ease-in-out 0.3s ;
  -moz-transition: transform ease-in-out 0.3s;
  -o-transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
}

.card_header_gradient {
  background: linear-gradient(to left, #33ccff 69%, #ccffff 96%);
  color: #005cbf;
  font-size: medium;
  font-weight: bold;
}

.shade-orange {
  width: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  &::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 40px;
    background: #ff6d0d;
    bottom: -2.5em;
    z-index: 100;
  }
  &::before {
    right: -20px;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
  &:hover::after, &:hover::before {
    background: #ff9f5a;
  }
}
.topic_bottom_purple {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: plum;
  background-image: url("/upload/images/thongtinbanthan.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.selected {
  //background-color: #005cbf;
  //color: white !important;
  border-bottom: 3px solid blue;
}
.topic_blue {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  //background-color: dodgerblue;
  background-image: url("/upload/images/bachground_blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.topic_yellow {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #74756e;
  background-image: url("/upload/images/bachground_yellow.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.shade-light-blue {
  width: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  &::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 30px;
    background: cyan;
    bottom: -2.0em;
    z-index: 100;
  }
  &::before {
    right: -10px;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
  &:hover::before {
    background: #5ce2ff;
  }
}

.shade-blue {
  width: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  &::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 40px;
    background: #52c8ff;
    bottom: -2.5em;
    z-index: 100;
  }
  &::before {
    right: -20px;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
  &:hover::before {
    background: #4fb2ff;
  }
}

.shade-purple {
  width: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  &::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 40px;
    background: #882d88;
    bottom: -2.5em;
    z-index: 100;
  }
  &::before {
    right: -20px;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
  &:hover::before {
    background: #eb50eb;
  }
}
.shade-white {
  width: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  &::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 30px;
    background: #8bfcff;
    bottom: -2.0em;
    z-index: 100;
  }
  &::before {
    right: -20px;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
  &:hover::before {
    background: #a7eb9f;
  }
}

// het cac class dung chung
body {
  background-image: url("/upload/images/background.png");
  background-repeat: repeat;
  & > .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.super-link {
  position: fixed;
  top: 45%;
  left: 0;
  width: 50px;
  height: 200px;
  z-index: 100000;
  div {
    height: 40px;
    position: relative;
    P {
      margin: 0;
      background: yellow;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }
  }

}

.footer {
  .container {
    background-color: white;
    padding: 20px;
    .row {
      .col-sm {
        img {
          width: 100%;
          box-shadow: 0px 2px 2px 2px rgba(200, 200, 200, 1);
          transition: all 100ms;
          &:hover {
            box-shadow: 2px 4px 9px 2px #c8c8c8;
          }
        }
      }
    }
  }
}

div.card {
  img.card-img-top {
    margin: auto;
    border-radius: 50%;
    width: 50%;
    margin-top: 5%;
  }
}

.container {
  .breadcrumb {
    background: white;
    margin-top: 20px;
  }
}
#breadcrumb {
  box-shadow: 0px 1px 6px 0px rgba(124, 118, 128, 0.48);
}

.jumbotron {
  background-color: white;
  padding: 1rem 1rem;
  .title_baiviet {
    color: $blue1;
    font-weight: bold;
    text-shadow: 2px 2px 2px yellowgreen;
  }
}

.py-4 {
  margin-top: 0px !important;
  padding-top: 0px !important;
  text-shadow: none !important;
  #container-fluid {
    position: relative;
    min-height: 500px;
    max-height: 600px;
    padding-left: 0;
    padding-right: 0;
    background-image: url("/upload/images/background_tranparent.png");
    background-repeat: repeat;
    background-color: rgba(67, 100, 179, 0.75) !important;
    background-blend-mode: lighten;
    .welcome_slogan {
      position: absolute;
      height: 100%;
      h1 {
        font-size: 50px;
        .inner_h1 {
          font-size: 96px;
          font-weight: lighter;
          border: 2px solid;
          border-radius: 5px;
          padding: 5px;
          -webkit-transform: color 0.2s;
          -moz-transform: color 0.2s;
          -ms-transform: color 0.2s;
          -o-transform: color 0.2s;
          transform: color 0.2s;
          &:hover {
            color: $orange;
          }
        }
      }
      p {
        font-size: 25px;
        margin-top: 30px;
      }
    }
    canvas {
      width: 100%;
      height: 500px;
    }
  }
  .container {
    padding: 10px;
    background-color: white;
    .row {
      .col-md-4 {
        .card {
          border-color: white;
          &:hover {
            transform: translate(0px, -3px);
            box-shadow: 3px 6px 0px 1px rgb(92, 127, 255);
          }
          border-radius: 0px;
          transition: all 100ms;
          img {
            //box-shadow: 2px 2px 2px 1px rgba(120, 180, 255, 0.67);
          }
        }

      }
      .col-md-3 {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    .card {
      .padding-around {
        .form-group {
          .form-control {
            &:hover {
              box-shadow: 2px 2px 2px 2px #e2e2e2;
            }
            &:focus {
              box-shadow: 2px 2px 2px 2px #b5cedd;

            }
          }
          //button[type=submit] {
          //  &:hover {
          //    background-color: transparent;
          //    border: solid 1px initial;
          //    color: inherit;
          //    box-shadow: 2px 2px 2px 2px #e2e2e2;
          //    transform:  scale(1.5) translateX(-10px);
          //  }
          //  transition: all 100ms;
          //}
        }
      }
    }
  }
  .dichvu-content {
    background-color: white;
    .card-header {
      background: linear-gradient(to left, #33ccff 69%, #ccffff 96%);
      border-bottom: 1px solid whitesmoke;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
      .col-md-4 {
        .dichvu-card {
          max-height: 800px;
          min-height: 423px;
          .dichvu_web_carousel {
            .carousel-inner {
              .carousel-item {
                .image_dichvu {
                  max-height: 150px;
                  min-height: 150px;
                }
              }
            }
          }
        }
      }
    }
    .dichvu_slogan {
      transition: color 0.2s;
      &:hover {
        color: $orange !important;
      }
    }
    .feedback-khachhang {
      .feedback-carousel {
        width: 100%;
        .carousel-control-prev {
          width: 20px;
          .carousel-control-prev-icon {
            background-color: black;
          }
        }
        .carousel-control-next {
          width: 20px;
          .carousel-control-next-icon {
            background-color: black;
          }
        }
      }
    }
  }
}

#mucdichtaotrang {
  background-image: url("/upload/images/mucdich.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(40, 136, 255, 0.39);
  background-blend-mode: darken;
  .card {
    min-height: 550px;
    //max-height: 450px;
  }
}

#thongtinbanthan {
  position: relative;
  background-image: url("/upload/images/thongtinbanthan.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#dichvuchungtoi {
  background-image: url("/upload/images/image_background_dichvu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#duandalam_dichvu {
  background-image: url("/upload/images/thongtinbanthan.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#chuderow {
  background-image: url("/upload/images/thongtinbanthan.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #005cbf;
}
#taisao-card {
  display: none;
}

#taisao {
  position: relative;
  padding: 50px 0px 50px;
  color: white;
  background-color: #005cbf;
  .bg-blue {
    position: absolute;
    left: 90px;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url("/upload/images/background_blue_taisao.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #005cbf;
    z-index: 1;
    -webkit-transform: skewX(-14deg);
    -moz-transform: skewX(-14deg);
    -ms-transform: skewX(-14deg);
    -o-transform: skewX(-14deg);
    transform: skewX(-14deg);
  }
  .image_taisao_1 {
    background-image: url("/upload/images/taisao_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .image_taisao_2 {
    background-image: url("/upload/images/taisao_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .image_taisao_3 {
    background-image: url("/upload/images/taisao_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }
  .image_taisao_4 {
    background-image: url("/upload/images/taisao_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
    z-index: 0;
    transition: transform ease-in-out 0.3s;
  }
  .auto-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
}

.block {
  margin-bottom: 10px;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  cursor: pointer;
  &:hover {
    transform: translate(-2px, -3px);
  }
  .row {
    border: 1px solid white;
    border-left: 0;
    .col-4 {
      img {
        height: 100%;
        transition: transform ease-in-out 0.3s;
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
}
.my-image {
  filter: grayscale(10%) blur(8px);
  &:hover {
    filter: blur(2px) grayscale(5%) hue-rotate(45deg) drop-shadow(16px 16px 20px purple) invert(10%);
  }
}

.container-fluid {
  //.duandalam_dichvu {
  //  border-top: 18px solid #882d88;
  //}
  .main-content {
    transition: margin-left .5s;
  }
}

@media only screen and (max-width: 420px) {
  body {
    //-moz-background-image: url("/upload/images/background_image_on_mobile.jpg");
    //-webkit-background-image: url("/upload/images/background_image_on_mobile.jpg");
    //-o-background-image: url("/upload/images/background_image_on_mobile.jpg");
    //background-image: url("/upload/images/background_image_on_mobile.jpg");
    //background-repeat: repeat-y;
    .py-4 {
      .container-fluid {
        .welcome_slogan {
          h1 {
            font-size: 32px !important;
            .inner_h1 {
              font-size: 52px !important;
            }
          }
          p {
            font-size: 20px !important;
          }
        }
      }
    }
  }
  .padding-around {
    padding: 20px;
  }
  .navbar-laravel {
    background-color: #fff;
    box-shadow: 0px 7px 6px 2px rgba(0, 0, 0, 0.13);
    .container {
      .navbar-brand {
        .logo-full-size {
          width: 150px !important;
          height: auto;
        }
      }
      .slogan-title {
        display: none;
      }
      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            border-radius: 0;
            margin-right: 0;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .footer .container .row .col-sm img {
    width: 100%;
    box-shadow: 0px 2px 2px 2px rgba(160, 112, 139, 1);
  }
  .py-4 {
    .container {
      .row {
        .col-md-4 {
          margin-bottom: 10px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    .container {
      .row {
        .col-sm {
          margin-bottom: 10px;
        }
      }
    }
  }
  .my-image {
    margin-bottom: 15px;
    border-radius: 100% !important;
    width: 75%;
    margin: 12%;
    filter: grayscale(40) blur(5px);
  }
}

@media only screen and (max-width: 768px) {
  .topic_bottom {
    position: relative;
  }
  body {
    .navbar-under-top {
      .container {
        .navbar-toggler {
          border-color: #2290ff;
          color: $blue1;
        }
        .navbar-collapse {
          text-align: center;
          vertical-align: center;
          .ul-list {
            li {
              a {
                cursor: pointer;
              }

            }
          }
        }
      }
    }
    .navbar-laravel {
      background-color: #fff;
      box-shadow: 0px 7px 6px 2px rgba(0, 0, 0, 0.13);
      .container {
        .navbar-brand {
          .logo-full-size {
            width: 200px;
            height: auto;
          }
        }
        .slogan-title {
          display: none;
        }
        .navbar-collapse {
          .navbar-nav {
            .nav-item {
              border-radius: 0;
              margin-right: 0;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    .navbar-top {
      display: block;
      background-color: $blue1;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-laravel {
    background-color: #fff;
    box-shadow: 0px 7px 6px 2px rgba(0, 0, 0, 0.13);
    .container {
      .navbar-brand {
        .logo-full-size {
          width: 150px;
          height: 40px;
        }
      }
      .slogan-title {
        h4 {
          font-size: medium;
        }
      }
      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            a {
              color: dodgerblue;
              font-size: smaller;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  .navbar-top {
    background-color: $blue1;
  }
  body {
    .py-4 {
      .container-fluid {
        .welcome_slogan {
          h1 {
            font-size: 32px !important;
          }
        }
      }
    }
  }
  .shink_navbar {
    background-color: #007bff;
    .container {
      .navbar-brand {
        .logo-full-size {
        }
      }
      .slogan-title {
      }
      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            border: none;
            .nav-link {
              color: white !important;
              font-size: small !important;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  #taisao-card {
    display: block !important;
  }
  #taisao {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1368px) {
  .container {
    max-width: 950px;
  }
  body {
    .navbar-laravel {
      .container {
        .navbar-brand {
          .logo-full-size {
            width: 150px;
            height: 40px;
          }
        }
        .navbar-collapse {
          .navbar-nav {
            .nav-item {
              .nav-link {
                color: $blue1;
                font-size: 12px;
                font-weight: normal;
                &:hover {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
    .py-4 {
      .container-fluid {
        .welcome_slogan {
          h1{
            font-size: 40px !important;
          }
          p {
            font-size: 22px;
          }
        }
      }
    }
  }
  .shink_navbar {
    .container {
      .navbar-brand {
        .logo-full-size {
        }
      }
      .slogan-title {
      }
      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            border: none;
            .nav-link {
              color: white !important;
              font-size: small;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  #taisao {
    display: block;
  }
  #taisao-card {
    display: none;
  }
}

@media only screen and (max-width: 1600px) {
  body {
    .py-4 {
      .dichvu-content {
        .row {
          .col-md-4 {
            .dichvu-card {
              max-height: 800px;
              min-height: 450px;
              .dichvu_web_carousel {
                .carousel-inner {
                  .carousel-item {
                    .image_dichvu {
                      max-height: 150px !important;
                      min-height: 150px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #taisao {
    display: block;
  }
  #taisao-card {
    display: none;
  }
}


